dialog {
    border: none;
    background: none;
    z-index: 500;
}
dialog:not([open]) {
    display: none !important;
}
.ant-modal {
    top: 0 !important;
}
.ant-modal-close-x .anticon {
    margin-top: 20px;
}
/*.anticon.anticon-calendar.ant-calendar-picker-icon {
    margin-top: 3px;
}*/
.ant-calendar-header div > a {
    margin-top: 15px;
}
[type=submit] {
    -webkit-appearance: none;
}
input:not(.untouched):invalid, input.form-invalid, textarea.form-invalid, .ant-select.form-invalid, .ant-checkbox.form-invalid,
input[type=checkbox]:not(.untouched):invalid, input.form-invalid[type=checkbox] {
    outline: 1px solid red;
}
.form-validation-message {
    color: red;
}
.sk-input-label {
    font-family: sans-serif;
    font-size: 12px;
    color: rgba(0,0,0,.65);
    display: block;
}
.sk-tree ul {
    list-style: none;
}
.sk-tree .sk-tree-collapsed ul {
    display: none;
}
.sk-tree li.sk-tree-collapsed:before {
    content: "+";
    margin-right: 5px;
}
.sk-tree li.sk-tree-expanded:before {
    content: "-";
    margin-right: 5px;
}
.ant-input-clear {
    cursor: pointer;
}
[type=reset], [type=submit], button, html [type=button], sk-button {
    -webkit-appearance: none;
}
.ant-list-item.accordion-header-active {
    font-weight: bold;
}
.ant-list-item.accordion-header-active .anticon-right {
    display: none;
}
.ant-list-item.accordion-header .anticon-down {
    display: none;
}
.ant-list-item.accordion-header-active .anticon-down {
    display: block;
}
.ant-list-item-icon {
    margin-right: 10px;
}
.ant-list-pane {
    margin: 1em;
}

.sk-navbar-panel {
    display: block;
    position: absolute;
    height: 100vh;
    width: 56px;
    left: 0;
    top: 0;
    z-index: 1100;
    background-color: black;
}
.sk-navbar-panel.sk-navbar-panel-right {
    right: 0;
    left: initial;
}
.sk-navbar-panel.sk-navbar-panel-top {
    width: 100vw;
    height: 56px;
    z-index: 1100;
}
.sk-navbar-panel.sk-navbar-panel-bottom {
    width: 100vw;
    height: 56px;
    bottom: 0;
    top: initial;
    z-index: 1500;
}
.ant-drawer-content {
    display: none;
}
.ant-drawer-open .ant-drawer-content {
    display: block;
}
.ant-drawer-open.ant-drawer-left.has-panel {
    left: 56px;
}
.ant-drawer-open.ant-drawer-right.has-panel {
    right: 56px;
    left: initial;
}
.ant-drawer-open.ant-drawer-bottom.has-panel {
    bottom: 56px;
    left: initial;
}
.ant-drawer-open.ant-drawer-top.has-panel {
    top: 56px;
    left: initial;
}
.ant-drawer.ant-drawer-bottom {
    z-index: 1400;
}
.sk-selected {
    background-color: #fafafa;
}
.sk-menu-item {
    min-width: 200px;
    height: 40px;
    line-height: 40px;
}

.sk-sltabs-panels {
  box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
  background: white;
  border-radius: 3px;
  padding: 16px;
  overflow: auto;
}
.sk-sltabs-tabs {
  display: inline-flex;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}
.sk-sltabs-tabs slot {
  display: inline-flex; /* Safari bug. Treats <slot> as a parent */
}
/* Safari does not support #id prefixes on ::slotted
   See https://bugs.webkit.org/show_bug.cgi?id=160538 */
.sk-sltabs-tabs ::slotted(*) {
  font-size: 14px;
  /*font-family: sans-serif;*/
  font-weight: normal;
  color: rgba(0,0,0,.65);
  padding: 12px 8px;
  margin: 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.sk-sltabs-tabs ::slotted(h2) {
  margin-bottom: 0 !important;
}
.sk-sltabs-tabs ::slotted(:hover) {
  color: #40a9ff;
}
[disabled] .sk-sltabs-tabs ::slotted(:hover), .sk-sltabs-tabs ::slotted([disabled]:hover) {
  color: rgba(0,0,0,.65);
}
.sk-sltabs-tabs ::slotted([aria-selected="true"]) {
  box-shadow: none;
  color: #40a9ff;
  border-bottom: 1px #1890ff solid;
}
.sk-sltabs-tabs ::slotted(:focus) {
  z-index: 1; /* make sure focus ring doesn't get buried */
}
.sk-sltabs-panels ::slotted([aria-hidden="true"]) {
  display: none !important;
}
[disabled] .sk-sltabs-tabs ::slotted(*), .sk-sltabs-tabs ::slotted([disabled]) {
  opacity: 0.4;
}
